<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Write Your Mind!</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="/css/bs4.css"> -->
  <link rel="stylesheet" href="/css/style.css">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">

  <nav class="navbar navbar-default" style="background-color: #99154e;">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand" style="color: white;">Write Your Mind!</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/home" style="text-decoration: none;color: white;">HOME</a></li>
          <li id="about"><a href="/about" style="text-decoration: none;color: white;">ABOUT US</a></li>
          <li id="contact"><a href="/contact" style="text-decoration: none;color: white;">CONTACT US</a></li>
        </ul>
    </div>
  </nav>
</head>

<body>
  <div class="container ext">
