<%- include("partials/header.ejs") -%>

<h1>
    <%= Title %>
</h1>

<p style="overflow: auto;height: 100%; white-space: pre-wrap; text-align: justify; border: 1px solid gray; border-radius: 12px; padding: 10px;">
   <%= Content %>
</p>

<br>

<%- include("partials/footer.ejs") -%>
